[submodule "project-flexbox-dio"]
	path = project-flexbox-dio
	url = https://gitlab.com/karensantos/project-flexbox-dio
[submodule "Módulo  2 - HTML e CSS/project-flexbox-dio"]
	path = Módulo  2 - HTML e CSS/project-flexbox-dio
	url = https://gitlab.com/karensantos/project-flexbox-dio
